@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

:root {
	--pageMargin: 1em;
}

@media screen and (min-width: 38em) {
	:root {
		--pageMargin: 4em;
	}
}
@media screen and (min-width: 75em) {
	:root {
		--pageMargin: 10em;
	}
}
@media screen and (min-width: 110em) {
	:root {
		--pageMargin: 18em;
	}
}

body {
	margin: 0;
	font-family: "EB Garamond", serif;
	font-size: calc(19.2px + (24 - 19.2) * (100vw - 412px) / (1920 - 412));
	overflow-y: scroll;
	background-color: hsl(0, 0%, 97%);
}

h1, h2, h3 {
	letter-spacing: 2px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

a[target="_blank"]::after {
	background-image: url("../images/external-link-symbol.svg");
	background-size: 1rem 1rem;
	display: inline-block;
	height: 1rem;
	width: 1rem;
	content: "";
	margin-left: .25em;
}

.sr-only {
	display: none;
}