:root {
	--pageMargin: 1em;
}

@media screen and (min-width: 38em) {
	:root {
		--pageMargin: 4em;
	}
}
@media screen and (min-width: 75em) {
	:root {
		--pageMargin: 10em;
	}
}
@media screen and (min-width: 110em) {
	:root {
		--pageMargin: 18em;
	}
}

body {
	margin: 0;
	font-family: "Ubuntu", Verdana, sans-serif;
	font-size: calc(1.2em + (24 - 19.2) * (100vw - 412px) / (1920 - 412));
	overflow-y: scroll;
	background-color: hsl(0, 0%, 85%);
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}