.article {
  margin-bottom: 3em;
  padding-bottom: 1em;
  border-bottom: 3px solid hsl(5, 100%, 75%);
}

.article__published {
  font-family: "Bangers", sans-serif;
  font-size: .8em;
  color: grey;
  text-align: center;
}

.article__heading {
  font-family: "Bangers", sans-serif;
	text-decoration: none;
  color: inherit;
  letter-spacing: 1px;
  font-weight: 400;
}

.article__heading:hover {
	text-decoration: underline;
}

.excerpt {
  font-family: "EB Garamond";
  line-height: 130%;
}