.latestPosts {
	display: grid;
	grid-column-gap: 1em;
	grid-template-rows: 3em repeat(6, 1fr);
	padding: 0 1em;
}

@media screen and (min-width: 42em) {
	.latestPosts {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 4em repeat(3, 1fr);
	}

	.latestPosts__heading {
		grid-column-start: 1;
		grid-column-end: span 2;
	}
}

@media screen and (min-width: 128em) {
	.latestPosts {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 4em repeat(2, 1fr); 
	}

	.latestPosts__heading {
		grid-column-start: 1;
		grid-column-end: span 3;
	}
}