.menuToggle {
	top: 1em;
	right: 1em;
	z-index: 105;
	background: none;
	border: none;
	font-family: "Bangers", sans-serif;
	letter-spacing: 1px;
	font-size: inherit;
	text-transform: uppercase;
	padding: 0;
	transition: color 300ms ease;
}

.menuButtonOverlay {
	top: 0;
	left: 0;
	right: 0;
	height: 3em;
	background-color: hsla(0, 0%, 97%, 0.6);
	backdrop-filter: blur(4px);
	z-index: 104;
}

@media screen and (min-width: 64em) {
	.menuToggle, .menuButtonOverlay {
		display: none;
		visibility: hidden;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}
}