.menuToggle {
	position: absolute;
	top: 1em;
	right: 1em;
	z-index: 101;
	background: none;
	border: none;
	font-family: inherit;
	font-size: inherit;
	text-transform: uppercase;
	padding: 0;
}

@media screen and (min-width: 64em) {
	.menuToggle {
		display: none;
		visibility: hidden;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}
}