.primaryNavigation {
	list-style: none;
	padding: 0;
  margin: 3em 0;
}

.primaryNavigation__link {
  color: hsl(0, 0%, 6%);
	text-decoration: none;
	line-height: 200%;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	font-family: "Bangers", sans-serif;
}

.primaryNavigation__link:hover {
	text-decoration: underline;
}